/*----- พื้นฐาน -----*/
body {
    background-color: #f2e6d9;
    font-family: 'Itim', cursive;
    font-size: 16px;
    line-height: 1.8;
    color: #7b4a3a;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;

}

/*----- HEADER -----*/
.site-header {
    text-align: center;
    background: #d9d9d9;
    padding: 25px;
    border-radius: 25px;
    margin: 20px;
    border-bottom: 2px solid #ae917c;
    color: #964D32;
}

.logo {
    font-family: 'Mitr', sans-serif;
    font-size: 40px;
}

.nav-link {
    font-family: 'Mitr', sans-serif;
    color: #7a4a35;
    margin: 10px;
}

.nav-link:hover {
    background: #f2e6d9;
    border-radius: 10px;
}

/*----- HERO (หน้าหลัก) -----*/
.hero {
    padding: 20px 0;
}

.carousel-img {
    width: 100%;
    height: 500px;
    max-width: 900px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.carousel-inner {
    background-color: #f2e6d9;
}

/*--- ปุ่มสำรวจ ---*/
.explore-btn {
    background: #e49a62;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 20px;
}

.explore-btn:hover {
    background: #ffce9d;
    color: #7b4a3a;
}

/*----- การ์ดร้าน -----*/
.section-title {
    margin-bottom: 15px;
}

.shop-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.shop-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.shop-card:hover {
    transform: scale(1.05);
}

.shop-btn {
    border: 1px solid #d8b7a6;
    border-radius: 20px;
    padding: 6px 18px;
}

/*----- สมาชิก -----*/
.member-card {
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.member-card:hover {
    background: #f8ca9a;
    transform: translateY(-5px);
}

.member-card .card-title {
    font-size: 18px;
}

/*----- ปุ่มล่าง -----*/
.nav-btn {
    background: #e49a62;
    color: white;
    border-radius: 25px;
    padding: 8px 20px;
    margin: 5px;
}

.nav-btn:hover {
    background: #ffce9d;
    color: #7b4a3a;
}

/*----- footer -----*/
.site-footer {
    margin-top:  auto; 
    font-size: 16px;
    background: #e8ddd2;
    text-align: center;
    padding: 20px;
} 